body {
  position: relative;
  width: 1000px;
  padding-top: 500px;
  margin: 0;
  margin: auto;
  background-color: #111;
  color: white;
  font-family: monospace;
}

.screen {
  position: absolute;
  top: 0;
}

button {
  display: block;
  margin-top: 100px;
  margin-left: 50px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 10px solid transparent;
}
button:hover {
  border-color: white;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}