body {
  margin: 0;
  position: relative;
  background-color: #111;
}

.screen {
  position: absolute;
  top: 25px;
  left: 25px;
}

button {
  display: block;
  margin-top: 100px;
  margin-left: 50px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 10px solid transparent;
}
button:hover {
  border-color: white;
}